.hidden {
    display : none;
}

#todo-list {
    list-style: none;
    padding: 8px 20px 0px 20px;
}

li {
    padding-top: 2px;
    padding-bottom: 2px;
}
li > span {
    margin-right: 5px;
}

p {
    font-style: italic;
    font-size: 0.8em;
    margin : 3px 0px;
}

.form_style {
    width: 200px; 
    margin: 0px auto; 
    border: none; 
    border-bottom: 1px solid antiquewhite; 
    background: transparent; 
    text-align: center; 
    color: snow;
}

#beting > input {
    border: 8px double forestgreen;
    border-radius: 25px;
    width: 180px;
    height: 35px;
}

/* 5개 컨테이너 통일 디자인  */
.container_NOTBOOT {
    display: flex;
    
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    align-content: space-between;

    width: 80%;
    text-align: center;
}

/* 각 컨테이너 별 별도 디자인 */
/* 최상단 컨테이너 */
#ceil_opt {
    flex-wrap: nowrap;
    width: 100%;
    
    justify-content: space-between;
}

/* 두번째 컨테이너(이름 시간 로고) */
#top_opt {
    gap: 5px 10px;
}

/* 세번째 컨테이너(슬롯 이미지) */
#image_opt {
    gap: 5px 10px;
}

/* 네번째 컨테이너(정보 및 ToDo) */
#info_opt {
    gap: 5px 10px;
}

/* 다섯번째 컨테이너(명언)*/
#quote_opt {
}

/* 여섯번째 컨테이너(최하단)*/
#bottom_opt {
    width: 100%;
    justify-content: end;
    margin-right: 1%;
    font-size: small;
    font-style: italic;
}


/* 각 컨테이너 내 박스들 별도 디자인 */
.box0_l {
    margin-top: 0.5%;
    margin-left: 0.5%;
}
.box0_r {
    margin-top: 0.5%;
    margin-right: 0.5%;
}



.box1 {
    flex: 1 1 220px;
}
.box1 > * {
    margin: 10px 0px;
}
.box1:nth-of-type(3) {
    height: auto;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#000000, #000000), linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
    background-clip: content-box, border-box;
    background-origin: border-box;
}



.box2 {
    flex: 1 1 200px;
    height: auto;
}
.box2 > img {
    max-width: 100%;
}




.box3 {
    flex: 1 1 200px;
    height: auto;
    
    min-height: 150px;
    border: 1px solid #444444;
    border-radius: 20px;
    background-image: linear-gradient(rgba(68, 68, 68, 0.8), rgba(68, 68, 68, 0.8));
}
.box3 > h3 {
    margin-top: 5%;
}
.box3:nth-of-type(2) > form {
    margin-top: 3%;
    text-align: center;
}

.box3 > form > button {
    margin-top: 20px;
    margin-bottom: 10px;
}


.box4 {
    width: 1350px;
    margin-bottom: 30px;
    margin-top: 30px;
}


.box5{
}



@media screen and (min-width : 320px) and (max-width : 450px) {
    .box1, .box2, .box3, .box4, .box5 {
        width : 100%;
    }
}